<div class="my-modal">
    <div class="my-modal-content">
        <span class="close">&times;</span>

        <h3 class="my-modal__heading">tytuł</h3>
        <p class="my-modal__body">treść</p>

        <div class="my-modal__btns">
            <button type="button" class="my-modal__cancel">
                Anuluj
            </button>

            <button type="button" class="my-modal__accept">
                Tak
            </button>
        </div>
    </div>
</div>